* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
html {
    width: 1080px;
    height: 100vh;
}
img {
    width: 100%;
    height: 100%;
}
body {
    background-image: url('https://i.pinimg.com/474x/65/49/bf/6549bfe87e3023c03226ed740e537dfc.jpg');
    background-repeat: no-repeat;
    object-fit: cover;
    position: fixed;
    background-size: 1600px 100vh;
}