body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-fira-code: "Fira Code";

  /* font sizes */
  --font-size-21xl: 40px;

  /* Colors */
  --color-gainsboro: rgba(217, 217, 217, 0.22);

  /* Border radiuses */
  --br-10xs: 3px;
}
