* {
  box-sizing: border-box;
  margin: 0;
  padding: );
}
img {
  width: 100%;
  height: 100%;
}
.bg-gg-icon,
.s-layer-bg {
  top: 0;
  left: 0;
  width: 818px;
  height: 443px;
}
.bg-gg-icon {
  position: absolute;
}
.s-layer-bg {
  background-color: rgba(14, 12, 12, 0.63);
}
.fb,
.link,
.s-layer-bg {
  position: absolute;
}
.link {
  top: 0;
  left: 0;
  border-radius: var(--br-10xs);
  background-color: var(--color-gainsboro);
  width: 100px;
  height: 100px;
}
.fb {
  top: 24px;
  left: 26px;
}
.facebook,
.youtube {
  text-decoration: none;
  top: 0;
  width: 100px;
  height: 100px;
  cursor: pointer;
}
.facebook {
  position: absolute;
  left: 0;
  color: inherit;
}
.youtube {
  left: 122px;
  color: #ff0f0f;
}
.ig,
.instagram,
.youtube {
  position: absolute;
}
.ig {
  top: 24px;
  left: 26px;
  background: linear-gradient(180deg, #db93ba, rgba(158, 14, 92, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.instagram {
  text-decoration: none;
  top: 0;
  left: 244px;
  width: 100px;
  height: 100px;
}
.irc1 {
  position: absolute;
  top: 24px;
  left: 14px;
}
.irc,
.vk {
  text-decoration: none;
  top: 0;
  width: 100px;
  cursor: pointer;
}
.irc {
  position: absolute;
  left: 366px;
  height: 100px;
  color: #09af2e;
}
.vk {
  left: 488px;
  color: #0a2fb3;
}
.links,
.ok,
.vk {
  position: absolute;
  height: 100px;
}
.ok {
  text-decoration: none;
  top: 0;
  left: 610px;
  width: 100px;
  cursor: pointer;
  color: #d37200;
}
.links {
  top: 172px;
  left: 54px;
  width: 710px;
}
.javascript-windowpop-up {
  width: 100%;
  position: relative;
  background-color: #000;
  height: 443px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: #415dc2;
  font-family: var(--font-fira-code);
}
@media only screen (max-width: 412px) and (max-height: 915px)    {
  body {
    margin: 0;
    line-height: normal;
  }
  :root {
    /* fonts */
    --font-fira-code: "Fira Code";
    /* font sizes */
    --font-size-21xl: 40px;
    /* Colors */
    --color-gainsboro: rgba(217, 217, 217, 0.22);
    /* Border radiuses */
    --br-10xs: 3px;
  }
  .bg-gg-icon,
.s-layer-bg {
  top: 0;
  left: 0;
  width: 412px;
  height: 915px;
}
.bg-gg-icon {
  position: absolute;
  object-fit: cover;
}
.s-layer-bg {
  background-color: rgba(14, 12, 12, 0.63);
}
.fb,
.link,
.s-layer-bg {
  position: absolute;
}
.link {
  top: 0;
  left: 0;
  border-radius: var(--br-10xs);
  background-color: var(--color-gainsboro);
  width: 100px;
  height: 100px;
}
.fb {
  top: 24px;
  left: 26px;
}
.facebook,
.youtube {
  text-decoration: none;
  top: 0;
  width: 100px;
  height: 100px;
  cursor: pointer;
}
.facebook {
  position: absolute;
  left: 0;
  color: inherit;
}
.youtube {
  left: 122px;
  color: #ff0f0f;
}
.ig,
.instagram,
.youtube {
  position: absolute;
}
.ig {
  top: 24px;
  left: 26px;
  background: linear-gradient(180deg, #db93ba, rgba(158, 14, 92, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.instagram {
  text-decoration: none;
  top: 157px;
  left: 0;
  width: 100px;
  height: 100px;
}
.irc1 {
  position: absolute;
  top: 24px;
  left: 14px;
}
.irc,
.vk {
  text-decoration: none;
  width: 100px;
  height: 100px;
  cursor: pointer;
}
.irc {
  position: absolute;
  top: 157px;
  left: 122px;
  color: #09af2e;
}
.vk {
  top: 330px;
  left: 0;
  color: #0a2fb3;
}
.links,
.ok,
.vk {
  position: absolute;
}
.ok {
  text-decoration: none;
  top: 330px;
  left: 122px;
  width: 100px;
  height: 100px;
  cursor: pointer;
  color: #d37200;
}
.links {
  top: 243px;
  left: 95px;
  width: 222px;
  height: 430px;
}
.javascript-windowpop-up {
  width: 100%;
  position: relative;
  background-color: #000;
  height: 915px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: #415dc2;
  font-family: var(--font-fira-code);
}
}
